<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>380989880093-4sib5nvhqe8j7sfsikrk2crsablro9vv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.380989880093-4sib5nvhqe8j7sfsikrk2crsablro9vv</string>
	<key>API_KEY</key>
	<string>AIzaSyAOlyZHjHgQU_woUCJbk2LrihFbLiULNLM</string>
	<key>GCM_SENDER_ID</key>
	<string>380989880093</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.linkusrandc.linkus</string>
	<key>PROJECT_ID</key>
	<string>linkus-randc</string>
	<key>STORAGE_BUCKET</key>
	<string>linkus-randc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:380989880093:ios:3a37260fafb4372a3513f4</string>
</dict>
</plist>